<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  

    <!-- 注意：
    		配置文件里配置项目是有先后顺序的，依次是：
    		properties,settings,typeAliases,typeHandlers,objectFactory,
    		objectWrapperFactory,plugins,environments,databaseIdProvider,mappers，
    		哪个选项不配置，它的位置空出来，但顺序必须遵循，否则会报错。   
     -->
     
     
    <!-- 加载外部属性文件 -->
    <properties resource="mysql.properties">
    	 <property name="dialect" value="mysql" />
    </properties>
    
    <!-- 全局配置参数 -->
    <settings>
    	<!-- 开启延时加载 -->
    	<setting name="lazyLoadingEnabled" value="true"/>
    	<setting name="aggressiveLazyLoading" value="false"/>
    	<!-- 开启二级缓存 -->
    	<setting name="cacheEnabled" value="true"/> 
    	<!-- 使用 log4j 日志框架 -->
    	<setting name="logImpl" value="SLF4J" />
    </settings>
        
    <!-- 配置实体类别名 -->
    <typeAliases>
    	<!-- 对单个类配置别名 -->
    	<!--<typeAlias type="com.kasei.mybatis.module2.a01entity.A01User" alias="_User"/>-->

    	<!-- 对某个包下的所有类配置别名，别名就是简单类名 -->
    	<package name="kasei.mybatis.repository.mysql.entity"/>
    </typeAliases>
 
    
    <!-- mybatis 开发环境配置 -->
    <environments default="development">  
        <environment id="development">  
            <transactionManager type="JDBC" />  
            <dataSource type="POOLED">  
                <property name="driver" value="${driverClassName}" />  
                <property name="url" value="${jdbc-url}" />
                <property name="username" value="${username}" />  
                <property name="password" value="${password}" />  
            </dataSource>  
        </environment>  
    </environments> 
    
    <mappers>
        <!-- 该部分只是引入 mapper -->
        <!-- mybatis 开发方式之一：entity + *Mapper.xml + *DaoImpl 中使用代码绑定 *Mapper.xml -->
        <mapper resource="kasei/mybatis/repository/mysql/dao/sqlprovider/PersonDaoMapper1.xml"/>
        <!-- mybatis 开发方式之二：entity + *Mapper.xml + *Mapper.java + *DaoImpl 中使用代码绑定 *Mapper.java -->
        <mapper resource="kasei/mybatis/repository/mysql/dao/sqlprovider/PersonDaoMapper2.xml"/>
        <!-- mybatis 开发方式之三：entity + *Mapper.java + AnnotationSql + *DaoImpl 中使用代码绑定 *Mapper.java-->
        <mapper class="kasei.mybatis.repository.mysql.dao.mapper.PersonDaoMapper3"/>
        <!-- mybatis 开发方式之四：entity + *Mapper.java + @SelectProvider(*SqlProvider.class) + *SqlProvider.java + *DaoImpl 中使用代码绑定 *Mapper.java-->
        <mapper class="kasei.mybatis.repository.mysql.dao.mapper.PersonDaoMapper4"/>
        <!-- mybatis 开发方式之四：entity + *Mapper.java + @SelectProvider(type=SqlProviderAdapter.class) + *DynamicSqlSupport.java + *DaoImpl 中使用代码绑定 *Mapper.java-->
        <mapper class="kasei.mybatis.repository.mysql.dao.mapper.PersonDaoMapper5"/>
    </mappers>
    
</configuration>  