<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kasei.mybatis.HelloMapper">

	<select id="getHello" 
			parameterType="int" 
			resultType="com.kasei.mybatis.HelloEntity">
		select * 
		from mybatis_hello
		where id=#{value}
	</select>
	
</mapper>